@model UserListViewModel

@{
    ViewData["Title"] = "User List";
}

<h4>@ViewData["Title"]</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                Surname
            </th>
            <th>
                Email
            </th>
            <th>
                ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Forename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
